<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1 v-text="title"></h1>
        <h2 v-text="content"></h2>
        <!-- <ul>
            <li v-for="(item,i) in items" v-bind:class="{ 'active': true}">{{item.text}}<input type="checkbox" v-model="item.checked"></li>

        </ul> -->
        <li v-for="item in items" v-bind:class="{ 'active':item.checked}">
            <span>{{item.text}}</span><input type="checkbox" v-model="item.checked">
        </li>
        <button v-on:click="addItem">dodaj element</button>
        <input type="text" v-on:keyup.enter="addItem">
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    title: "03: Events",
                    content: "dyrektywy v-on:click oraz v-on:keyup.enter -> dodanie nowego elementu do tablicy",
                    items: [
                        { text: "element 1", checked: true },
                        { text: "element 2", checked: false },
                        { text: "element 3", checked: false },
                    ]
                }
            },
            methods: {
                addItem() {
                    this.items.push({ text: "dodany", checked: false })
                }
            }
        }).mount("#app")

        // app.title += " VueJS"

    </script>
</body>

</html>