<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1 v-text="title"></h1>
        <h2 v-text="content"></h2>
        <!-- <div class="container-flex">
            <div class="flex">
                <h3>ul 1 - obiekty tablicy</h3>
                <ul>
                    <li v-for="item in array">{{item}}</li>
                </ul>
            </div>
            <div class="flex">
                <h3>ul 1 - wartosci obiektów tablicy</h3>
                <ul>
                    <li v-for="item in array">{{item.a}} {{item.b}}</li>
                </ul>
            </div>
            <div class="flex">
                <h3>ul 1 - wartosci obiektów tablicy z licznikiem</h3>
                <ul>
                    <li v-for="(item,i) in array">{{i}}: {{item.a}} {{item.b}}</li>
                </ul>
            </div>
        </div> -->
        <h3>ul 1 - value key obiektu</h3>
        <ul>
            <li v-for="(val, key) in object">{{key}} - {{val}}</li>
        </ul>

        <h3>ul 2 - key value index obiektu</h3>
        <ul>
            <li v-for="(val, key, index) in object">{{index}} - {{key}} - {{val}}</li>
        </ul>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    title: "03: Dyrektywy VueJS",
                    content: "dyrektywa v-for, iteracja po key, value, indeksie obiektu",
                    object: {
                        a: 111,
                        b: 222,
                        c: 333
                    }
                }
            }
        }).mount("#app")

        // app.title += " VueJS"

    </script>
</body>

</html>