<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1 v-text="title"></h1>
        <h2 v-text="content"></h2>
        <select v-model="selected">
            <option value="0">--Please choose an option--</option>
            <option v-for="value in uniqueValues" :key="value" :value="value">
                {{ value }}
            </option>
        </select>
        <div class="liczby">
            <div v-for="arrayChild in array">
                <span class="element-number" v-for="x in arrayChild">
                    <button :class="makeButtonClass(x)" :disabled="makeDisabledAttr(x)" @click="show(x)">{{x}}</button>
                    <!-- <button :class="makeButtonClass(x)">{{x}}</button> -->
                </span>
            </div>
        </div>
    </div>
    <script>
        const app = Vue.createApp({

            data() {
                return {
                    title: '04: events',
                    content: 'select -> atrybuty disabled',
                    array: [
                        [1, 2, 3, 3, 3],
                        [4, 4, 4, 7, 1],
                        [2, 3, 3, 2, 1],
                        [5, 5, 6, 4, 3],
                        [1, 5, 1, 2, 5]
                    ],
                    selected: 1
                }

            },
            computed: {
                uniqueValues() {
                    return [...new Set(this.array.flat().sort())]
                }
            },
            methods: {
                makeButtonClass(x) {
                    console.log(x);
                    console.log("kurwa" + this.selected);
                    if (x === this.selected) {
                        return 'niebieskie'
                    }
                    else
                        return 'dupa'
                },
                makeDisabledAttr(x) {
                    console.log(x);
                    console.log("kurwa" + this.selected);
                    if (x == this.selected) {
                        return false
                    }
                    else
                        return true
                },
                show(x){
                    alert("ja jestem " + x)
                }
            }
        }).mount("#app")



    </script>
</body>

</html>