* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-weight: bold;
}
h1 {
	color: red;
	padding: 10px;
}
h2 {
	color: blue;
	padding: 10px;
}
.container-flex{
	 width: 100%;
	display: flex;

}
.flex{
	flex: 1
}
.gray-container{
	background-color: #333;
	color: green;
}
.green-container{
	background-color: green;
	color: #333;
}