* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-weight: bold;
}
h1 {
	color: red;
	padding: 10px;
}
h2 {
	color: blue;
	padding: 10px;
}
.container-flex{
	 width: 100%;
	display: flex;

}
.flex{
	flex: 1
}
.gray-container{
	background-color: #333;
	color: green;
}
.green-container{
	background-color: green;
	color: #333;
}

/* cz3 */
.active{
	color: red;
}
.element-number{
	padding: 10px;
}
.niebieskie{
	background-color: blue;
}
.items-component{
	display: inline-block;
	padding: 10px;
	background-color: rgb(168, 168, 214);
	border: 2px blue dashed;
	margin: 10px;
}